= f.input :state_event, as: :state_event
= f.input :book_cover, as: :image_preview
= f.input :book_cover_cache, as: :hidden
= f.input :name
= f.input :author
= f.input :description
= f.input :year
= f.input :isbn
= f.input :tag_list

.form-actions
  = f.submit class: 'btn btn-primary'
  = link_to t('.cancel'), root_path, class: 'btn'
