- content_for :side_bar do
  - [:free, :busy].each do |state|
    %li{class: "#{'active' if params[:q] && params[:q][:state_eq] == state.to_s}"}
      = link_to url_for(q: { state_eq: state }) do
        = state
        %span.label= Book.send(state).count
%h1
  = t('.listing_books')

%table.table.table-stripped.mass_action_table
  %thead
    %tr
      %th= sort_link @q, :title
      %th= sort_link @q, :year
      %th= sort_link @q, :author
      %th= sort_link @q, :state
      %th= sort_link @q, :pages
  %tbody
    - if @books.any?
      - @books.each do |book|
        %tr
          %td= link_to book.title, book_path(book)
          %td= book.year
          %td= book.author
          %td= book.state
          %td= book.pages
