%p{ :id => "notice" }
  = notice

= t('simple_form.labels.book.author')
\:
= @book.author
%br

= t('simple_form.labels.book.title')
\:
= @book.title
%br

= t('simple_form.labels.book.year')
\:
= @book.year
%br
