- model_class = User
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:login)
      %th= model_class.human_attribute_name(:created_at)
  %tbody
    - @users.each do |user|
      %tr
        %td= link_to user.id, user_path(user)
        %td= user.email
        %td= user.login
        %td=l user.created_at

= link_to t('.new', :default => t("helpers.links.new")), new_user_path, :class => 'btn btn-primary'
