#carousel.carousel.slide
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carousel"}
    %li{"data-slide-to" => "1", "data-target" => "#carousel"}
    %li{"data-slide-to" => "2", "data-target" => "#carousel"}
    %li{"data-slide-to" => "3", "data-target" => "#carousel"}
  .carousel-inner
    .item.active
      = image_tag 'book2.png'
      .container
        .carousel-caption
          %h1=t(".item1.header")
          %p
            =t(".item1.caption")
          %p= link_to t('.item1.link_button'), new_user_path, class: 'btn btn-large btn-primary'
    #item2.item
      = image_tag 'book1.png'
      .container
        .carousel-caption
          %h1=t(".item2.header")
          %p
            =t(".item2.caption")
            = link_to t('.item2.link_text'), root_path
    .item
      = image_tag 'book4.png'
      .container
        .carousel-caption
          %h1=t(".item3.header")
          %p
            = link_to t('.item3.link_text'), root_path
    .item
      = image_tag 'book5.png'
      .container
        .carousel-caption
          %h1=t(".item4.header")
          %p
            =t(".item4.caption")
  %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel"} &lt;
  %a.right.carousel-control{"data-slide" => "next", :href => "#carousel"} &gt;
