#top-nav.navbar-big
  = nav_bar fixed: :top, brand: t('.brand').html_safe, responsive: true do
    - if signed_in?
      = menu_group do
        = menu_item t('.companies'), companies_path
        - if current_user.companies.active.any?
          = menu_item t('.users'), users_path
          = menu_item t('.books'), books_path
          = menu_item t('.analytics'), analytics_path

    = menu_group pull: :right do
      = render 'layouts/web/shared/user_menu'
