= simple_form_for @book, url: admin_books_path, :html => { :class => 'form-horizontal' } do |f|
  = f.input :author
  = f.input :title
  = f.input :isbn
  = f.input :year
  = f.input :pages

  = f.simple_fields_for :image, html: { multipart: true } do |image_form|
    - if @book.image.file?
      = image_tag @book.image.file, title: @book.image.title
    = image_form.input :title
    = image_form.input :file, as: :file

  = f.simple_fields_for :e_book, html: { multipart: true } do |e_book_form|
    - if @book.e_book.file?
      = link_to t('.download'), @book.e_book.file.to_s, class: 'controls'
    = e_book_form.input :title
    = e_book_form.input :file, as: :file

  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), books_path, :class => 'btn'