- model_class = Book
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @books.each do |book|
      %tr
        %td= link_to book.id, admin_book_path(book)
        %td= book.title
        %td=l book.created_at
        %td
          = link_to t('.destroy', :default => t("helpers.links.destroy")), admin_book_path(book), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_admin_book_path(book), :class => 'btn btn-mini'


= link_to t('.new', :default => t("helpers.links.new")), new_admin_book_path, :class => 'btn btn-primary'
