!!! 5
%html(lang="en")
  = render 'layouts/web/shared/head'

  %body.navbar-big
    = render 'layouts/web/shared/navbar'

    .container-fluid.main-container.bordered
      .row-fluid
        .span12
          = bootstrap_flash
          = yield

    .container-fluid.main-container
      = render 'layouts/web/shared/footer'


    = javascript_include_tag "application"
